.u-section-1 .u-sheet-1 {
  min-height: 591px;
}

.u-section-1 .u-shape-1 {
  width: 1070px;
  height: 493px;
  margin: 31px auto 0;
}

.u-section-1 .u-image-1 {
  width: 218px;
  height: 218px;
  margin: -366px auto 0;
}

.u-section-1 .u-image-2 {
  width: 65px;
  height: 65px;
  margin: -65px 461px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  margin: -313px 239px 0 auto;
}

.u-section-1 .u-btn-1 {
  margin: 303px auto 60px;
  padding: 10px 53px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 940px;
    margin-top: 32px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -377px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -54px;
    margin-right: 375px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -322px;
    margin-right: auto;
    margin-left: 32px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 292px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -364px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -43px;
    margin-right: 266px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -344px;
    margin-left: 19px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 311px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -365px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -49px;
    margin-right: 194px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -347px;
    margin-left: 18px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 275px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    margin-top: 47px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -377px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -54px;
    margin-right: 87px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -326px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 296px;
  }
}